{{ define "main" }}

  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ "<!-- faq -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <h2 class="section-title text-primary">{{ .Params.Title }}</h2>
          {{ "<!-- accordion -->" | safeHTML }}
          <div id="accordion">
            {{ $.Scratch.Set "counter" 0 }}
            {{ range $data.faq.faqItem }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
            {{ "<!-- accordion item -->" | safeHTML }}
            <div class="card mb-4 rounded-0 shadow border-0">
              <div class="card-header rounded-0 bg-white border p-0 border-0">
                <a class="card-link h4 d-flex tex-dark mb-0 py-3 px-4 justify-content-between" data-toggle="collapse" href="#accordion{{$.Scratch.Get `counter`}}">
                  <span>{{ .title }}</span> <i class="ti-plus text-primary text-right"></i>
                </a>
              </div>
              <div id="accordion{{$.Scratch.Get `counter`}}" class="collapse" data-parent="#accordion">
                <div class="card-body font-secondary text-color">{{ .content }}</div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /faq -->" | safeHTML }}

{{ end }}