<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
<body>
  {{ if .IsHome }}
  {{ "<!-- header -->" | safeHTML }}
  <header class="hero-section overlay banner">
    <div class="container mb-100">
      {{ "<!-- navigation -->" | safeHTML }}
      {{ partial "navigation.html" . }}
      {{ "<!-- /navigation -->" | safeHTML }}
    </div>
    {{ partial "banner.html" . }}
  </header>
  {{ "<!-- /header -->" | safeHTML }}
  {{ else }}
  {{ "<!-- navigation -->" | safeHTML }}
  <header style="background:linear-gradient(to right,#2B3A8A,#192938);" class="shadow-bottom sticky-top ">
    <div >
      {{ partial "navigation.html" . }}
    </div>
  </header>
  {{ "<!-- /navigation -->" | safeHTML }}
  {{ end }}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>