<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand pl-2" href="{{ .Site.BaseURL | relLangURL }}">
    {{ $logo:= .Site.Params.logo }}
    {{ $logoWhite:= .Site.Params.logoWhite }}
    {{ if (or (eq $logo "") (eq $logoWhite "")) }}
    {{ .Site.Title }}
    {{ else }}
    {{ if .IsHome }}
    <img class="img-fluid " src="{{ $logoWhite | absURL }}" alt="{{ .Site.Title }}">
    {{ else }}
    <img class="img-fluid" src="{{ $logo | absURL }}" alt="{{ .Site.Title }}">
    {{ end }}
    {{ end }}
  </a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navigation">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
       <a class="nav-link text-light font-weight-bold " href="{{ .Site.BaseURL | relLangURL }}"> <i class="fa fa-home"></i> {{ .Site.Params.home }}</a>
      </li>
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ .Name }}
        </a>
        <div class="dropdown-menu" >
          {{ range .Children }}
          <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          {{ end }}
        </div>
      </li>
      {{ else }}
      <li class="nav-item">
          <a class="nav-link text-light font-weight-bold" href="{{ .URL | relLangURL }}"><i class="fa fa-file"></i> {{ .Name }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
    <!-- Language List -->
    {{- if .Site.IsMultiLingual }}
      {{ $siteLanguages := .Site.Languages}}
      {{ $pageLang := .Page.Lang}}
      {{ range .Page.AllTranslations }}
      {{ $translation := .}}
      {{ range $siteLanguages }}
      {{ if eq $translation.Lang .Lang }}
      {{ $selected := false }}
      {{ if eq $pageLang .Lang}}
      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
      </option>
      {{ else }}
      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
    </select>
    {{ end }}
  </div>
</nav>