<style type="text/css" scoped>
  #scrollspy-example {
      height: 700px;
      overflow: auto;
  }
  @media (max-width: 1100px){
  #menu{
  width: 98.7%;
  }
  
  }
  </style>
{{ "<!-- details page -->" | safeHTML }}
<section>
  
  <div >
    <div  class="row">
      <div  id="menu" class="col-lg-2.5">
        <div  style="background-color: rgb(248, 247, 247);" id="scrollspy-example" class="mb-5 p-4 sticky-top border">
          <ul class="list-styled">
            {{ $currentNode := . }}



            
            {{ "<!-- banner -->" | safeHTML }}

		<div class=" text-center mx-auto">
			<div class="position-relative">
        <input id="search" class="form-control h-50  mb-3" placeholder="Buscar...">
      


				<!-- Javascript -->
				{{ $currentNode := . }}
				{{ $currentNode.Scratch.Set "pages" .Site.Pages }}
				{{ $pages := ($currentNode.Scratch.Get "pages") }}
				<script>
					$(function() {
					var projects = [
						{{ range $pages }}
						{
							value: "{{ .Title }}",
							label: "{{ .Title }}",
              url:"{{ .Permalink }}"

						},
						{{ end }}
					];
					$( "#search" ).autocomplete({
							minLength: 0,
							source: projects,
							focus: function( event, ui ) {
								$( "#search" ).val( ui.item.label );
								return false;
							},
							select: function( event, ui ) {
								$( "#search" ).val( ui.item.label );
								$( "#project-id" ).val( ui.item.value );
								return false;
							}
					})
					.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
						return $( "<li>" )
						.append( "<a href=" + item.url + " + \" &quot;\" +  >" + item.label + "</a>" )
						.appendTo( ul );
					};
					});
        </script>

			</div>
    </div>
    
{{ "<!-- /banner -->" | safeHTML }}
            {{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
            {{range .Site.Home.Sections.ByWeight}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
            {{end}}
          </ul>
        </div>
      </div>
      <div id="menu2" class="col-lg-9">
        <div class="p-4 bg-white">
          <h2 class="mb-2">{{ .Title }}</h2>
          <h6 class="mb-5 text-secondary">{{ .Description }}</h6>

          {{ if .Content }}
          <div class="content">{{.Content}}</div>
          {{ else }}
          <div class="bg-gray p-4 border">
            <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            </ul>
          </div>
          {{ end }}
          <nav class="pagination mt-3">
            <!-- Next prev page -->
            {{ $currentNode := . }}
            {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
            {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
            {{if hasPrefix $currentNode.Permalink .menu.Permalink }}
            {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
            {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
            {{else}}
            {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
            {{ $currentNode.Scratch.Set "NextPageOK" nil }}
            {{ $currentNode.Scratch.Set "nextPage" .menu }}
            {{end}}
            {{end}}
            {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

            {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
            {{ if .menu.IsHome}}
            {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
            {{ else if .menu.Sections}}
            {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
            {{end}}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

            {{ range $pages.ByWeight  }}
            {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
            {{end}}
            {{ end }}
            {{ end }}

            {{with ($.Scratch.Get "prevPage")}}
            <a class="nav nav-prev" href="{{.Permalink }}"><i class="ti-arrow-left mr-2"></i>{{.Title}}</a>
            {{end}}
            {{with ($.Scratch.Get "nextPage")}}
            <a class="nav nav-next" href="{{.Permalink }}">{{.Title}}<i class="ti-arrow-right ml-2"></i></a>
            {{end}}
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->

{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if .IsAncestor $currentNode }}parent{{end}}
  {{if eq .File.UniqueID $currentNode.File.UniqueID}}active{{end}}
  {{if .Params.alwaysopen}}parent{{end}}">
  <a href="{{.Permalink}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
  <ul>
    {{ $currentNode.Scratch.Set "pages" .Pages }}
    {{ if .Sections}}
    {{ $currentNode.Scratch.Set "pages" (.Pages | union .Sections) }}
    {{end}}
    {{ $pages := ($currentNode.Scratch.Get "pages") }}

    {{ range $pages.ByWeight }}
    {{ if and .Params.hidden (not $.showhidden) }}
    {{else}}
    {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
    {{end}}
    {{end}}
  </ul>
</li>
{{ end }}
{{ end }}
{{ end }}
