<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>



{{ "<!-- footer -->" | safeHTML }}
<footer class="bg-dark py-3 row  d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 my-5 text-xs-center order-sm-2">
        <a class="mx-3" target="_blank" data-toggle="tooltip"data-placement="top" title="Accede a la pagina de facebook oficial de SAIT software"  href="https://www.facebook.com/saitsoftware"> <b class="text-white"> <i class="fa fa-facebook fa-2x text-white"> </i> </b> </a> 
        <a target="_blank" data-toggle="tooltip"data-placement="top" title="Accede a la pagina oficial de twitter de SAIT software"  href="https://twitter.com/saitsoftware"> <b class="text-white"> <i class="fa fa-twitter fa-2x text-white"> </i></b> </a> 
        <a class="mx-2" target="_blank" data-toggle="tooltip"data-placement="top" title="Accede a la cuenta oficial de instagram de SAIT software"  href="https://www.instagram.com/saitmx/"> <b class="text-white"> <i class="fa fa-instagram fa-2x"> </i> </b> </a> 

      </div>
      <div class="col-6 my-5 col-sm-4 text-right text-xs-center order-sm-3">
          <a class="mx-2" target="_blank" data-toggle="tooltip"data-placement="top" title="Accede al sitio oficial de google plus de SAIT software"  href="https://plus.google.com/+SAITMexico"> <b class="text-white"> <i class="fa fa-google-plus fa-2x text-white"> </i></b> </a> 
          <a class="mx-2" target="_blank" data-toggle="tooltip"data-placement="top" title="Accede al canal oficial en youtube de SAIT software"  href="https://www.youtube.com/channel/UCZZ2NVWgiB6j5HXP8Dmtuhw"> <b class="text-white"> <i class="fa fa-youtube fa-2x text-white"> </i> </b> </a> 

      </div>
      <div class="col-12 col-sm-4 my-4 text-center py-2 order-sm-2">
        <span class="text-light">Copyright © Microsistemas San Luis S.A. de C.V. 2001-2020</span><br>
        <a target="_blank" href="https://boveda.sait.mx/docs/AvisoPrivacidad.pdf">Aviso de Privacidad</a>
        <a target="_blank" href="https://boveda.sait.mx/docs/TerminosCondiciones.pdf">Términos y Condiciones</a>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Bootstrap JS -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/bootstrap/bootstrap.min.js"></script>
{{ "<!-- match-height JS -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/match-height/jquery.matchHeight-min.js"></script>
{{ "<!-- highlight -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>